* 
{
    margin: 0;
    padding: 0;
    font-size: large;
}
body 
{
    background-color: black; 
    color: white; 
}
ul 
{
    list-style : none
}
.nav
{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
#Skills
{
    display: flex;
    
}
nav a 
{
    font-size: 1.1em;
    color: #f8f4e6;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
     
}
nav a:hover {
    color: #004D98;
    background: #f8f4e6;
    border-bottom: none;
}
header
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 20px 50px 100px;
}
.name
{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: yellow;
}
#contact
{
    color: yellow;
    background: black;
    border-color: yellow;
    border: double;
    text-decoration: none;
    margin-top: 100px;
}
main
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 20px 50px 100px;
    text-align: justify;
    max-width: 900px;
}
.about_title
{
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.header_inf
{
    margin-bottom: 20px;
}
.about_main
{
    margin-top: 10px;
    margin-left: 50px;
}
.skills_title
{
    margin-top: 30px;
    text-align: center;
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}
.informatique
{
   justify-content: center;
   margin: auto;
}
.electronics
{
    
    justify-content: center;
    margin: auto;
}
.yellow
{
    color: yellow;
}
.box
{
    width: 150px;
    background-color: #34290f;
    text-align: center;
    padding: 16px;
    margin: 10px;
    border:solid;
    border-radius: 10px;

}
